html, body {
    margin: 0;
    padding: 0;
    background-color: #333333; /* Couleur de fond du corps du site (blanc par défaut) */
}




a {
  text-decoration: none;
  color: white
}

p {
  margin: 0;
}

.background {
    background-color: #141414;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    
}

.background:hover {
  background-color: #141414;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  
}

.background-flex{
  display: flex;
  width: 1436px;
  align-items: center;
  
}

.container_left{
  display: flex;
  align-items: center;
  padding: 20px 0px;
}


.container_left-item {
  cursor: pointer;
  gap: 35px;
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-family: "coolvetica rg", sans-serif;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-left: 20px;

}

.container_right {
  display: flex;
  justify-content: flex-end;
  position: absolute; /* Positionnement absolu par rapport à son parent */
  right: 10%; /* Alignez le côté droit de la boîte avec le côté droit de son parent */
  top: 0%; /* Alignez le centre vertical de la boîte avec le centre vertical de son parent */
  transform: translateY(50%); /* Ajustez pour centrer verticalement */
}

.accueil:hover {
  background-color: white;
  color: black;
  border-radius: 0.5em;
  padding: 10px 10px 10px 10px;
  transition: 0.1s;
}

.contacter:hover {
  background-color: white;
  color: black;
  border-radius: 0.5em;
  padding: 10px 10px 10px 10px;
  transition: 0.1s;
}

.partenaires:hover {
  background-color: white;
  color: black;
  border-radius: 0.5em;
  padding: 10px 10px 10px 10px;
  transition: 0.1s;
}

.propos:hover {
  background-color: white;
  color: black;
  border-radius: 0.5em;
  padding: 10px 10px 10px 10px;
  transition: 0.1s;
}

.communauté{
  display: flex;
  align-items: center;
}

/* 
.container {
  display: flex;
  align-items: center;
  justify-content: center; 
  max-width: 1536px;
} */


.logocrypto1 {
  width: 90px;
  height: 90px;
}

.logoX {
  display: flex;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.logodiscord {
  display: flex;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.nav {
    margin: auto;
}

.menu {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: start;
    margin: 0;
}

.menu_item {  /* Menu Design*/
    margin: 35px 10px; /* Ajoute une marge supérieure pour descendre les éléments <li> */
    background: #ffa77b;
    border-radius: 0.9em;
    cursor: pointer; 
    display: flex;  
}



  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    top: 20px;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    padding: 1px;
    opacity: 0; /* Ajout de l'opacité initiale à 0 */
    animation: dropdown 0.4s ease-in-out; 
  }

  
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-family: "coolvetica rg", sans-serif;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    border-radius: 1em; 
    text-emphasis: none;
    justify-content: center;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 1em; 
   
    opacity: 1
  }

  @keyframes dropdown {
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.5;
    }
    100%{
      opacity: 1;
    }
  }
  


.dropdown_header_icon { /* flèche déroulant "Communauté */
    font-size: 20px;
    position: relative;
    right: 0%;
    transform: rotate(0deg);
    transition: 0.2s ease-in-out all;
}

.communauté:hover .dropdown_header_icon {
    transform: rotate(180deg);
}

.communauté:hover .dropdown {
    display: block;
    
}

.communauté a {
    display: flex;
}

.box {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
}

.box:hover input {
  width: 250px;
  font-size: 15px;
}

.box input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}

.box a .material-icons {
  color: #000000;
  font-size: 25px;
  padding-top: 10px
}

/* Supprimez les classes logo-container, discord-container et twitter-container */

/* Ajoutez ces styles pour aligner les éléments à l'intérieur de chaque div */
.twitter-container,
.discord-container {
  display: flex;
  align-items: center;
}


/*.twitter-container .dropdown_text,
.discord-container .dropdown_text {
  margin-right: 25px; 
} 
*/

.twitter-container .dropdown_text,  /* Pour centrer verticalement le texte */
.discord-container .dropdown_text {
  display: flex;
  align-items: center;
  font-family: "coolvetica rg", sans-serif;
  font-size: 14px;
  color: black;
  font-weight: bold;
}


.twitter-container:hover {
  background: rgb(223, 223, 223);
  border: transparent;
  border-radius: 1em;
}

.discord-container:hover {
  background: rgb(223, 223, 223);
  border: transparent;
  border-radius: 0.9em;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}


.mannft {
  max-width: 30%;
  border-radius: 2em;
  margin-left: 50px;
}

.bodycontent{
  margin: 80px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bodycontent h1{
  text-align: left; 
  font-family: "coolvetica rg",  sans-serif;
  color: #ffffff;
  font-size: 80px ;
}

.bodycontent h2{
  text-align: left; 
  font-family: "coolvetica rg",  sans-serif;
  color: #ffffff;
  font-size: 40px ;
}

.bodycontent_child {
    max-width: 654px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.bodycontent2 {
  margin: 80px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.divider {
  height: 3px;
  background-color: rgb(195, 206, 206);
  width: 0; /* Commencez avec une largeur de 0 */
  top: 7.1vh;
  box-shadow: 0px 0px 15px 2px;
  transform: translateX(-50%);
  position: relative;
  left: 100vh;
  border-radius: 2em;
  transition: width 1.7s ease; /* Ajoutez une transition pour le width */
  display: flex;
}

.divider.expand {
  width: 70%;
}


.diamond_arrow {
  height: 46px;
  position: absolute;
  top: 89.5%; /* Positionne l'élément au milieu de son conteneur parent */
  left: 14.9%; /* Positionne l'élément au milieu de son conteneur parent */
  transform: translate(-50%, -50%); /* Ajuste la position pour centrer correctement */
  opacity: 0; /* Commencez avec une opacité de 0 */
  transition: opacity 0.9s ease;
}



.diamond_arrow2 {
  height: 46px;
  position: absolute;
  top: 87%; /* Ajustez la position verticale selon vos besoins */
  right: 14%;
  opacity: 0; /* Commencez avec une opacité de 0 */
  transition: opacity 0.9s ease; /* Ajoutez une transition pour l'opacité */
}




.diamond_arrow.expand,
.diamond_arrow2.expand {
  opacity: 1;
}






.bodycontent2 h1 {
  text-align: right;
  font-family: "coolvetica rg", sans-serif;
  color: #ffffff; /* Couleur du texte pour le deuxième h1 */
  font-size: 80px;
}

.bodycontent2 h2 {
  text-align: right;
  font-family: "coolvetica rg", sans-serif;
  color: #ffffff; /* Couleur du texte pour le deuxième h1 */
  font-size: 40px;
  text-align: center;
}

.bodycontent2_child {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}





